@model  IEnumerable<SakerhetProjektGrupp4.Models.PersonalModel>


@{
    ViewBag.Title = "Index";
}

<h2>Inloggning</h2>
<head>
   
</head>
<body>

    <table class="table">
        <tr>

            <th>
             Namn
            </th>
            <th>
                Efternamn
            </th>
            <th>
               Användarnamn
            </th>
            <th>
               Behörigehtsnivå
            </th>
            <th>Roll</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnvandarNamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BehorighetsNiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roll)
            </td>
            <td>
                @Html.ActionLink("Lägg till", "SkapaPersonal", new { id = item.Id }) |
                @Html.ActionLink("Ta bort", "TaBortPersonal", new { id = item.Id }) |
                @Html.ActionLink("Ändra", "Edit", new { id = item.Id })
            </td>
                        </tr>
            }

                </table>


</body>
