@model  SakerhetProjektGrupp4.Models.PersonalModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkapaPersonal</title>
</head>
<body>
    <div>
        <div>
            @using (Html.BeginForm("SkapaPersonal", "Personal", FormMethod.Post))
            {
                <p>@Html.TextBoxFor(x => x.Anvandarnamn)</p>
                <p>@Html.TextBoxFor(x => x.Losenord)</p>
                <p>@Html.TextBoxFor(x => x.Namn)</p>
                <p>@Html.TextBoxFor(x => x.Efternamn)</p>
                <p>@Html.TextBoxFor(x => x.BehorighetsNiva)</p> // TODO, Dropdown meny.
                <p>@Html.TextBoxFor(x => x.Roll)</p> //Todo, Dropdown meny.
                <input type="submit" value="Skicka" />

            }
        </div>
    </div>
</body>
</html>
