@model  SakerhetProjektGrupp4.Models.PersonalModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkapaPersonal</title>
</head>
<body>
    <div>
        <div>
            @using (Html.BeginForm("SkapaPersonal", "Personal", FormMethod.Post))
            {
                <p>@Html.TextBoxFor(x => x.AnvandarNamn) AnvNamn</p>
                <p>@Html.TextBoxFor(x => x.Losenord) Losenord</p>
                <p>@Html.TextBoxFor(x => x.Namn) Namn</p>
                <p>@Html.TextBoxFor(x => x.Efternamn) Efternamn</p>
                <p>@Html.TextBoxFor(x => x.BehorighetsNiva) BehorighetsNiva</p> // TODO, Dropdown meny.
                <p>@Html.TextBoxFor(x => x.Roll) Roll</p> //Todo, Dropdown meny.
                <input type="submit" value="Skicka" />

            }
        </div>
    </div>
    <div>
        @Html.ActionLink("Tillbaka", "Index")
    </div>
</body>
</html>
