@model  SakerhetProjektGrupp4.Models.PersonalModel
@{
   
    ViewBag.Title = "SkapaPersonal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/FormStyle.css" rel="stylesheet" />
    <title>SkapaPersonal</title>
</head>
<body>
    <div class="form-horizontal" style="text-align:center;">

        @using (Html.BeginForm("SkapaPersonal", "Personal", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <p class="control-label col-md-12">Användarnamn</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.AnvandarNamn, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-12">Lösenord</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.Losenord, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-12">Förnamn</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.Namn, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-12">Efternamn</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.Efternamn, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-12">Behörighetsnivå</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.BehorighetsNiva, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-12">Arbetsroll</p>
                <div class="col-md-12">
                    @Html.TextBoxFor(x => x.Roll, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Skicka" class="btn btn-default" />
                </div>
            </div>

        }

    </div>
    <div>
        <button>@Html.ActionLink("Tillbaka", "Index", "Personal")</button>
</div>
</body>
</html>
